*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: normal;
  background-color: #fff;
}

a,
img {
  border: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


.wrapper {
  padding: 0 32px;
  max-width: 1500px;
  margin: 0 auto;
}

/* !________________________________________________________________HEADER___________________________________________________________________*/

header {
  background-image: url('../img/log.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1720px;
  margin: 0px auto;
  padding: 21px 15px;

}

header form {
  width: 68%;
}

.form__item {
  display: flex;
  align-items: center;
}

.form__item input {
  position: relative;
  width: 100%;
  height: 55px;
  font-size: 22px;
  font-family: 'Fira-Sans', sans-serif;
  font-weight: 400;
  outline: none;
  padding-left: 10px;
  border: 1px solid #C6CBCD;
  border-radius: 15px;
  transition: 0.5s ease;
}

.header__icons-cart {
  border: none;
  background: none;
  cursor: pointer;
}

.header__icons-cart path {
  transition: 0.3s ease-in;
}

.header__icons-cart:hover path {
  fill: rgba(238, 6, 130, 0.994);
}

/* -------- search js -------------- */

.card.highlight {
  animation: highlightAnimation 5s linear;
}

@keyframes highlightAnimation {
  0%, 100% {
      background-color: transparent;
      box-shadow: none;
  }
  50% {
      background-color: rgba(84, 255, 16, 0.5); 

  }
}



/*!___________________________________________________________________MENU___________________________________________________________________ */

.burger-menu {
  width: 45px;
  height: 30px;
}

.burger-menu label {
  position: relative;
  height: 100%;
  display: block;
  z-index: 2;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.lines {
  position: relative;
  width: 44px;
  height: 30px;
  left: 17%;
  top: 21%;
}

.lines__container {
  width: 70px;
  height: 57px;
  border: 1px solid rgba(186, 186, 186, 0.654);
  border-radius: 12px;
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in;
}

.line1 {
  top: 0;
}

.line2 {
  top: 50%;
  transform: translateY(-50%)
}

.line3 {
  bottom: 0;
}

.checkbox:checked~label .lines .line2 {
  opacity: 0;
}

.checkbox:checked~label .lines .line1 {
  transform: translateY(240%) rotate(45deg);
}

.checkbox:checked~label .lines .line3 {
  transform: translateY(-381%)rotate(-45deg);
}

.header__toggle-menu {
  background-color: #FFF;
  height: 100vh;
  width: 20vw;
  position: fixed;
  border-right: 1px solid #b1b6b89c;
  padding: 15px;
  top: 100px;
  left: 0;
  z-index: 1;
  transition: 0.8s ease-out;
  transform: translateX(-100%);
}

.checkbox:checked~.header__toggle-menu {
  transform: translateX(0);
}

.nav__link {
  display: block;
  display: flex;
  transition: 0.3s ease-in-out;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.133);
  border-radius: 15px;
  margin-bottom: 3px;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}

.nav__link-women::before,
.nav__link-men::before,
.nav__link-kids::before,
.nav__link-shoes::before,
.nav__link-home::before,
.nav__link-beauty::before,
.nav__link-electronics::before,
.nav__link-pets::before {
  margin-right: 12px;
}

.nav__link-women::before {
  content: url('../img/icons/women.png');
}

.nav__link-men::before {
  content: url('../img/icons/men.png');
}

.nav__link-kids::before {
  content: url('../img/icons/kids.png');
}

.nav__link-shoes::before {
  content: url('../img/icons/shoes.png');
}

.nav__link-home::before {
  content: url('../img/icons/home.png');
}

.nav__link-beauty::before {
  content: url('../img/icons/beauty.png');
}

.nav__link-electronics::before {
  content: url('../img/icons/electronics.png');
}

.nav__link-pets::before {
  content: url('../img/icons/pets.png');
}

.header__toggle-menu .nav__link {
  height: 60px;
  width: 100%;
}

.nav__link:hover {
  border: 1px solid rgba(85, 1, 239, 0.378);
  background-color: rgba(255, 255, 255, 0.133);
  color: rgb(135, 3, 184);
}

.nav__link span,
.nav__link-women::before,
.nav__link-men::before,
.nav__link-kids::before,
.nav__link-shoes::before,
.nav__link-home::before,
.nav__link-beauty::before,
.nav__link-electronics::before,
.nav__link-pets::before {
  transition: 0.4s;
}

.nav__link:hover span,
.nav__link-women:hover::before,
.nav__link-men:hover::before,
.nav__link-kids:hover::before,
.nav__link-shoes:hover::before,
.nav__link-home:hover::before,
.nav__link-beauty:hover::before,
.nav__link-electronics:hover::before,
.nav__link-pets:hover::before {
  transform: scale(1.1)
}

.lines__container:hover {
  border-color: #FFF;
}

/* !________________________________________________________________SUBMENU______________________________________________________________ */

.hidden__menu{
  background-color: #FFF;
  height: 100vh;
  width: 20vw;
  position: fixed;
  border-left: 1px solid #b1b6b89c;
  border-right: 1px solid #b1b6b89c;
  padding: 15px;
  top: 0;
  left: 40vw;
  transform: translateX(-100%);
  z-index: 1;
  visibility: hidden;
  transition: 0.2s;
}
.hidden__menu *{
  visibility: hidden;
}
.hidden__menu h3 {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  transition: 0.15s;
}

.hidden__menu img {
  border-radius: 15px;
  transition: 0.15s;
  width: 352px;
}

.img__container::after{
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 15px;
  left: 15px;
  width: 352px;
  height: 428px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.25s;
}
.nav__item:hover .hidden__menu, .nav__item:hover .hidden__menu *{
visibility: visible;
}
.img__container:hover::after {
opacity: 0.5;
}

.hidden__menu h3:hover {
  color: #6311b5;
}


/* ============ CAROUSEL ============ */

.slider {
  margin-top: 150px;
}


.slider__img {
  width: 100%;
  height: 170px;
  border-radius: 15px;
}


.slider-dots {
  text-align: center;
  position: relative;
  bottom: 27px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -33px;
  padding: 16px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* 
==================== footer ==================== */

.footer {
  background: #6311b5;
  padding: 40px 0 80px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2*8px);
  margin-bottom: 42px;
}


.footer__column-1 {
  width: calc(29% - 2*8px);
}

.footer__column-2 {
  width: calc(29% - 2*8px);
}

.footer__column-3 {
  width: calc(21% - 2*8px);
}

.footer__column-4 {
  width: calc(21% - 2*8px);
}



.footer__columns h2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
}

.footer__columns p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  transition: 0.5s;
}

.footer__columns span,
.footer__columns p {
  margin-bottom: 12px;
}

.footer__columns a p:hover{
  color:rgba(242, 161, 245, 0.994);
  text-decoration: underline;
}
.footer__columns a p:active{
  color:rgba(246, 172, 191, 0.994);
  text-decoration: underline;
}
.footer__columns a:visited{
  color:rgba(227, 161, 245, 0.994);
}
.wildberries__box {
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 232px;
  transition: 0.5s;
  animation-name: wildberries__box-color;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wildberries__box-color{
  0%{    
      border-color: #ffffff;
      }
  50%{
    border-color: #8352f6;
  }
  100%{
    border-color: #f87af3;
  }
}

.qr {
  max-width: 136px;
  width: 100%;
  height: 136px;
  background: url('../img/icons/qr.png');
}

.wildberries__box .footer-apps__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, .6);
  margin: 8px 0 16px;
  text-align: center;
}


.apps {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  gap: 5px;
}

.apple {
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/apple.svg');
}

.gplay {
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/gplay.svg');
}

.huawei {
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/huawei.svg');
}

.rustore {
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/rustore.svg');
}
.apple,
.gplay,
.huawei,
.rustore{
  cursor: pointer;
  transition: 0.5s;
}

.apple:hover,
.gplay:hover,
.huawei:hover,
.rustore:hover{
  transform: translateY(-5px);
  box-shadow: 0px 3px 15px 6px rgba(244, 212, 254, 0.193);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
}

.footer__copyright p {
  color: rgba(255, 255, 255, .6);
  font-size: 14px;
}

.footer__link {
  border-bottom: 1px solid;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  background-color: transparent;
  cursor: pointer;
  color: rgba(255, 255, 255, .6);
  border-color: rgba(255, 255, 255, .6);
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
}

/*!________________________________________________________________MOBILE_MENU_______________________________________________________________ */
.mobile__footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  padding: 8px 15px;
  background-color: #FFF;
  border-top: 1px solid #bbb;
  display: none;
}

/* ============== cards main section ================= */
.cards__container { 
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
  justify-content: center;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  height: fit-content;
  transition: 0.3s ease-in-out;
}
.card::before {
  position: absolute;
  text-align: center;
  content: 'Быстрый просмотр';
  color: #FFF;
  width: 88%;
  bottom: 37.5%;
  right: 6%;
  height: 25px;
  background-color: #b75afff0;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  pointer-events: none;
}

.card img {
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  height: 220px;
  max-width: 100%;
  margin-bottom: 8px;
}
.name__brend{
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price{
  margin-bottom: 5px;
}

.price__actual {
  margin-right: 8px
}

.price__actual:hover {
  color: #9a10f0;
}


.price__old {
  color: #9797af;
  font-size: 13px;
  position: relative;
  font-weight: 700;
  text-decoration: none;
  padding-block: 5px;
}

.delivery{
  margin-bottom: 13px;
}

.name {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  position: relative;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



.price__sale {
  border: transparent;
  color: #6725a8;
  margin: 2px 8px 2px 0px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(167, 58, 253);
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.price__old{
  text-decoration: line-through;
  font-size: 12px;
}

.add-to-cart-button {
  border-radius: 12px;
  padding: 5px 11px 6px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  color: #fff;
  background-color: #9a10f0;
  border: 2px solid transparent;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}



.rewiew {
  font-size: 14px;
  color: #777;
}


.star{
  color: #f39c12;
}

.rating {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.rating::before {
  content: ""; 
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}


.no-results-message{
  font-size: 36px;
}


/* ---- card hover ---- */


.card:hover{
  transition: .2s ease-in-out;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  transform: translateY(-5px);
}

.card:hover::before{
  opacity: 1;
}


/* ========== modal card ==================== */


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 10px;
  width: 40%;
  border-radius: 15px;
  background-color: #FFF;
  display: flex;

  gap: 20px;
  /* display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr); */

  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out; 
}
.modal-card__info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 35px;
  padding-bottom: 20px;
}
.modal-card__info div:nth-child(4){
  margin-top: auto;

}


.modal-content .name {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 50%;
  padding-right: 20px;
  margin-bottom: 15px;
}
.modal-content .name__brend{
  white-space: wrap;
  padding-bottom: 5px;
}

.modal-content .name__brend{
margin: 0px auto;
white-space: wrap;
}

.modal-content .price{
display: flex;
gap: 10px;
align-items: center;
}

.cartButtonContainer{
  display: flex;
  justify-content: center;
}

.modal-content .add-to-cart-button{
  height: 40px;
  width: 80%;
}
.modal-content img {
  border-radius: 10px;
  width: 60%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.close-modal-button {
  grid-column: 2/2;
  grid-row: 1/1;
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #6311b5;
  border: transparent;
  padding: 5px 10px;
  cursor: pointer;
}
.close-modal-button:before{
  content: '✖';
}
.modal-content .rating {
  flex: 0 5 0;
  align-items:self-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

}
.modal-content .rating::before {
  height: 21px;

}



/* ========== modal cart ==================== */

.modal{
  display: flex; 
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  opacity: 0;
  transition: .5s;
  visibility:hidden;
  background-color: rgba(0, 0, 0, 0.607); 
}
.modal--active{
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.721); 
  > .modal__content{
      transform: translateY(0);
  }
}

.modal__content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #eeeff8;
  transition: .5s;
  transform: translateY(-50px);
  max-height: 80vh;
  gap:15px;
  border: 1px solid #888888;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  overflow: hidden; 
}
.modal__content--s{width: 300px;}
.modal__content--m{width: 600px;}
.modal__content--l{width: 1500px;}
.modal__content--screen-height{height: 80vh;}

.modal__header{
  font-size: 26px;
  padding: 20px 40px;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__header h2{
  font-weight: bold;
    }
.modal__main{
  padding: 20px 40px;
  flex-grow: 1;
  overflow: auto;
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 15px;
}

.modal__list{
overflow: auto;

}

.modal__close-btn {
width: 20px;
height: 20px;
border: 0;
background:
linear-gradient(45deg, transparent calc(50% - 1px), #000000 calc(50% - 1px), #000000 calc(50% + 1px), transparent calc(50% + 2px)),
linear-gradient(-45deg, transparent calc(50% - 1px), #000000 calc(50% - 1px), #000000 calc(50% + 1px), transparent calc(50% + 2px));
cursor: pointer;
}
.product__delete{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 0;
  background:
  linear-gradient(45deg, transparent calc(50% - 1px), #000000 calc(50% - 1px), #000000 calc(50% + 1px), transparent calc(50% + 1px)),
  linear-gradient(-45deg, transparent calc(50% - 1px), #000000 calc(50% - 1px), #000000 calc(50% + 1px), transparent calc(50% + 1px));
  cursor: pointer;
}
.modal__list{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.modal__item{
  position: relative;
  display: grid;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px;
  color: black;
  grid-template-columns: 15% 50% 20% 20%;
  align-items: center;
  
  background: #fff;
  min-height: 130px;
  overflow: hidden;
}
.product__price{
  font-weight: bold;
  font-size: 24px;
  color: rgb(167, 58, 253);
}
.product__img{
  width:100%;
  border-radius: 10px;
  padding-right: 5px;
}
.product__info{
font-size: 16px;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.product__rating::after {
  content: ""; 
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
.product__count-container{
  display: flex;
}

.product__count-down{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #e5e1f3;
  border-radius: 3px;
  cursor: pointer;
}
.product__count-down::after{
  content: '-';
  color:#000;
  font-size: 20px;
}

.product__input-count{
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
.product__count-up{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #e5e1f3;
  border-radius: 3px;
  cursor: pointer;
}
.product__count-up::after{
  content: '+';
 color:#000
 
}

.product-total{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 26px;
  height: fit-content;
  padding: 16px;
}
.product__volume{
  color: #aaa;
  font-size: 22px;
  font-weight: normal;
  
}

.total__btn{
  background-color:rgb(167, 58, 253);
  color: floralwhite;
  width: 100%;
  border-radius: 15px;
  padding: 16px;
  font-size: 18px;

}
.total__btn:hover{
  opacity: 0.8;
  transition: 0.7s;
  color:#fff
}