*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: normal;
  background-color: #fff;
}

a,
img {
  border: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


.wrapper {
  padding: 0 32px;
    max-width: 1500px;
    margin: 0 auto;
  }

/* !________________________________________________________________HEADER___________________________________________________________________*/

header{
  background-image: url('../img/log.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__logo img{
  width: 100%;
  height: auto;
}
.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .wrapper{
  display: flex;
  justify-content: space-between;
  width: 1720px;
  margin: 0px auto;
  padding: 21px 15px;

}

header form{
  width: 68%;
}
.form__item {
  display: flex;
  align-items: center;
}
.form__item input{
  position: relative;
  width: 100%;
  height: 55px;
  font-size: 22px;
  font-family: 'Fira-Sans', sans-serif;
  font-weight: 400;
  outline: none;
  padding-left: 10px;
  border: 1px  solid #C6CBCD;
  border-radius: 15px;
  transition: 0.5s ease;
}
.button__search{
  position: absolute;
  right: 17%;
  width: 45px;
  background: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.header__icons-cart{
  border: none;
  background: none;
  cursor: pointer;
}
.button__search path, .header__icons-cart path{
  transition: 0.3s ease-in;
}
.button__search:hover path, .header__icons-cart:hover path{
  fill: rgba(238, 6, 130, 0.994);
}

/*!___________________________________________________________________MENU___________________________________________________________________ */

.burger-menu{
  width: 45px;
  height: 30px;
}
.burger-menu label{
  position: relative;
  height: 100%;
  display: block;
  z-index: 2;
  cursor: pointer;
}
.checkbox{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.lines{
    position: relative;
    width: 44px;
    height: 30px;
    left: 17%;
    top: 21%;
}
.lines__container{
  width: 70px;
  height: 57px;
  border: 1px solid rgba(186, 186, 186, 0.654);
  border-radius: 12px;
}
.line{
  display: block;
  height: 4px;
  width: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  transition: opacity 0.1s ease-in-out, transform 0.5s ease-in;
}
.line1{
  top: 0;
}
.line2{
  top: 50%;
  transform: translateY(-50%)
}
.line3{
  bottom: 0;
}
.checkbox:checked ~ label .lines .line2{
  opacity: 0;
}
.checkbox:checked ~ label .lines .line1{ 
  transform: translateY(240%) rotate(45deg);
}
.checkbox:checked ~ label .lines .line3{
  transform: translateY(-381%)rotate(-45deg);
}
.header__toggle-menu{
  background-color: #FFF;
  height: 100vh;
  width: 20vw;
  position: fixed;
  border-right: 1px solid #b1b6b89c;
  padding: 15px;
  top: 100px;
  left: 0;
  z-index: 1;
  transition: 0.8s ease-out;
  transform: translateX(-100%);
}
.checkbox:checked ~ .header__toggle-menu{
  opacity: 1;
  transform: translateX(0);
}
.nav__link{
  display: block;
  display: flex;
  transition: 0.3s ease-in-out;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.133);
  border-radius: 15px;
  margin-bottom: 3px;
  padding: 15px;
  text-decoration: none;
  color: #000000;
  font-size: 22px;
}
.nav__link-women::before, .nav__link-men::before, .nav__link-kids::before, .nav__link-shoes::before, .nav__link-home::before, .nav__link-beauty::before, .nav__link-electronics::before, .nav__link-pets::before{
margin-right: 12px;
}
.nav__link-women::before{
  content: url('../img/icons/women.png');
}
.nav__link-men::before{
  content: url('../img/icons/men.png');
}
.nav__link-kids::before{
  content: url('../img/icons/kids.png');
}
.nav__link-shoes::before{
  content: url('../img/icons/shoes.png');
}
.nav__link-home::before{
  content: url('../img/icons/home.png');
}
.nav__link-beauty::before{
  content: url('../img/icons/beauty.png');
}
.nav__link-electronics::before{
  content: url('../img/icons/electronics.png');
}
.nav__link-pets::before{
  content: url('../img/icons/pets.png');
}
.header__toggle-menu .nav__link{
  height: 60px;
  width: 100%;
}
.nav__link:hover{
  border: 1px solid rgba(85, 1, 239, 0.378);
  background-color: rgba(255, 255, 255, 0.133);
  color: rgb(135, 3, 184);
}
.nav__link span, .nav__link-women::before, .nav__link-men::before, .nav__link-kids::before, .nav__link-shoes::before, .nav__link-home::before, .nav__link-beauty::before, .nav__link-electronics::before, .nav__link-pets::before{
  transition: 0.4s;
}
.nav__link:hover span, .nav__link-women:hover::before, .nav__link-men:hover::before, .nav__link-kids:hover::before, .nav__link-shoes:hover::before, .nav__link-home:hover::before, .nav__link-beauty:hover::before, .nav__link-electronics:hover::before, .nav__link-pets:hover::before{
  transform: scale(1.1)
}
.lines__container:hover{
border-color: #FFF;
}

/* !________________________________________________________________SUBMENU______________________________________________________________ */

.hidden__menu{
  background-color: #FFF;
  height: 100vh;
  width: 20vw;
  position: fixed;
  border-left: 1px solid #b1b6b89c;
  border-right: 1px solid #b1b6b89c;
  padding: 15px;
  top: 0;
  left: 40vw;
  z-index: 1;
  transform: translateX(-100%);
  display: none;
}
.hidden__menu h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.hidden__menu img{
  border-radius: 15px;
}
.nav__item:hover .hidden__menu{
  display: block;
}
.hidden__menu img, .hidden__menu h3{
  transition: 1s;
}
.hidden__menu img:hover{
  scale: 1.02;
}
.hidden__menu h3:hover{
  color: #6311b5;
}


/* ============ CAROUSEL ============ */

.slider{
  margin-top: 150px;
}


.slider__img{
    width: 100%;
    height: 170px;
    border-radius: 15px;
}


.slider-dots{
    text-align: center;
    position: relative;
    bottom: 24px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -33px;
    padding: 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover{
    background-color: #717171;
}


.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}




/* 
==================== footer ==================== */

.footer {
  background: #6311b5;
  padding: 40px 0 80px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2*8px);
  margin-bottom: 42px;
}


.footer__column-1{
  width: calc(29% - 2*8px);
}

.footer__column-2{
  width: calc(29% - 2*8px);
}

.footer__column-3{
  width: calc(21% - 2*8px);
}

.footer__column-4{
  width: calc(21% - 2*8px);
}



.footer__columns h2{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
}

.footer__columns p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer__columns span,
.footer__columns p {
  margin-bottom: 12px;
}

.wildberries__box{
  border: 2px solid rgba(255,255,255,.1);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 232px;
}

.qr{
  max-width: 136px;
  width: 100%;
  height: 136px;
  background: url('../img/icons/qr.png');
}

.wildberries__box .footer-apps__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255,255,255,.6);
  margin: 8px 0 16px;
  text-align: center;
}


.apps{
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  gap: 5px;
}

.apple{
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/apple.svg');
}

.gplay{
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/gplay.svg');
}

.huawei{
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/huawei.svg');
}

.rustore{
  width: 44px;
  height: 44px;
  background-image: url('../img/icons/rustore.svg');
}


.footer__copyright {
  display: flex;
  flex-direction: column;
}

.footer__copyright p {
  color: rgba(255,255,255,.6);
  font-size: 14px;
}

.footer__link{
  border-bottom: 1px solid;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    background-color: transparent;
    cursor: pointer;
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.6);
    font-size: inherit;
    line-height: inherit;
    white-space: nowrap;
}
